@font-face{
	src: url(fonts/SFPRODISPLAYBOLD.woff);
	font-family: 'pro-display';
}
@font-face{
	src: url(fonts/SFPRODISPLAYREGULAR.woff);
	font-family: 'pro-regular';
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'pro-regular';
}
h1, h2, h3, h4{
	font-family: 'pro-display';
}
body{
	background: #f6f6f6;
}

.scrollmagic-pin-spacer{
	display: flex;
	justify-content: center;
	align-items: center;
}

#main{
	position: relative;
}
#intro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}